<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="experian.mobilesdk">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">


        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


        <service
            android:name=".MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".IDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name=".EMSService">
        </service>


        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver  android:name=".ConnectionReceiver" android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".EMSNotificationReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="experian.mobilesdk.EMSNotificationReceiver.EMS_NOTIFICATION_INTENT"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
